body {
    background-color: #031f28;
    font-family: "SourceCodePro-Bold", serif;
    color: #259cff;
    padding: 20px 0 0 0;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    float: right;
    margin: 0 5em 0 0;
    color: #ff5951;
    right: 10%;
    top: 5%;
    position: fixed;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #8ab9ff;
}

li a:hover {
    color: white;
}

.grey {
    color: #a9a9a9;
}

.light {
    color: #a9a9a9;
    font-family: "SourceCodePro-Regular", serif;
}

.navigation div {
    margin-left: 60px;
}

#content div {
    width: 75% !important;
}

#container div {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: "SourceCodePro-Bold";
    src: url("/static/fonts/SourceCodePro-Bold.ttf");
}

@font-face {
    font-family: "SourceCodePro-Black";
    src: url("/static/fonts/SourceCodePro-Black.ttf");
}

@font-face {
    font-family: "SourceCodePro-ExtraLight";
    src: url("/static/fonts/SourceCodePro-ExtraLight.ttf");
}

@font-face {
    font-family: "SourceCodePro-Light";
    src: url("/static/fonts/SourceCodePro-Light.ttf");
}

@font-face {
    font-family: "SourceCodePro-Regular";
    src: url("/static/fonts/SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: "SourceCodePro-Semibold";
    src: url("/static/fonts/SourceCodePro-Semibold.ttf");
}
