{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Website</title>
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css">
</head>
<body>
<div id="container">
    <div class="nagigation">
        {% block navigation %}
            <aside>
                <div class="navigation">
                    <ul>
                        <span class="grey, light">{</span>
                        <br>&nbsp;&nbsp;navigation: <span class="grey, light">[</span>
                        <li class="navigation"><a class="navigation" href="/">&nbsp;&nbsp;home<span
                                class="grey, light">,</span></a>
                        </li>
                        <li class="navigation"><a class="navigation" href="/projects">&nbsp;&nbsp;projects<span
                                class="grey, light">,</span></a></li>
                        <li class="navigation"><a class="navigation" href="/blog">&nbsp;&nbsp;blog<span
                                class="grey, light">,</span></a></li>
                        <li class="navigation"><a class="navigation" href="/about">&nbsp;&nbsp;about<span
                                class="grey, light">,</span></a></li>
                        <li class="navigation"><a class="navigation" href="/admin">&nbsp;&nbsp;admin panel</a></li>
                        <span class="grey, light">&nbsp;&nbsp;]</span>
                        <br><span class="grey, light">}</span>
                    </ul>
                </div>
            </aside>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>


</div>
</body>
</html>

